In [1]:
import pandas as pd

In [2]:
products = ["AU2406.SHF", "XAUCNY.IDC"]
columns = (
    ["Time"]
    + [f"{prod}_Bid" for prod in products]
    + [f"{prod}_Ask" for prod in products]
    + [f"{prod}_Latest" for prod in products]
    + ["Bid_Difference", "Ask_Difference", "Latest_Difference"]
)
df = pd.DataFrame(columns=columns)

In [3]:
df

Empty DataFrame
Columns: [Time, AU2406.SHF_Bid, XAUCNY.IDC_Bid, AU2406.SHF_Ask, XAUCNY.IDC_Ask, AU2406.SHF_Latest, XAUCNY.IDC_Latest, Bid_Difference, Ask_Difference, Latest_Difference]
Index: []